.trawled{
    width:100%;
    height:100px;
    background-image: url(../images/bg3.png);
    background-size: 100% 100px;
    background-position: center center;
}
.trawled .search-box{
    width:482px;
    height:70px;
    padding-top: 30px;
}
.trawled .search-box .search-rock{
    width:100%;
    height:42px;
    background-color: #ffffff;
    border-radius: 5px;
}
.trawled .search-box .search-rock .classify{
    width:112px;
    height:30px;
    line-height: 30px;
    margin:6px 0;
    border-right:2px solid #F27C00;
    text-align: center;
    float:left;
    position:relative;
}
.trawled .search-box .search-rock .classify .total{
    color:#F27C00;
    background-image: url(../images/drop.png);
    background-size: 12px 6px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 19px;
    cursor:default;
}
.trawled .search-box .search-rock .classify .categorize{
    width:112px;
    /*height:106px;*/
    padding-top:10px;
    background-color: #ffffff;
    position:absolute;
    z-index:20;
    margin-top: 11px;
    box-shadow: 0 3px 5px #dddddd;
    display:none;
}
.trawled .search-box .search-rock .classify .categorize .sort-name{
    margin-left: 14px;
    display:block;
    text-align: left;
    color:#666666;
    height:15px;
    line-height: 15px;
    margin-bottom:12px;
}
.trawled .search-box .search-rock .classify .categorize .sort-name.active{
    color:#F27C00;
}
.trawled .search-box .search-rock .search{
    width:66px;
    height:42px;
    border-left:1px solid #F27C00;
    float:right;
    background-color: #ffffff;
    background-image: url(../images/search.png);
    background-size: 20px 19px;
    background-repeat: no-repeat;
    background-position: center center;
    outline:none;
    cursor:pointer;
    border-radius: 0px 5px 5px 0px;
}
.trawled .search-box .search-rock .imports{
    margin:0 67px 0 132px;
    height:42px;
}
.trawled .search-box .search-rock .imports .entry{
    width:100%;
    height:42px;
    line-height: 42px;
    border:0;
    font-family: 'Microsoft YaHei';
    color:#999999;
    outline:none;
}
.trawled .search-box .search-rock .imports .entry:focus{
    color:#666666;
}
.trawled .search-box .version{
    width:100%;
    height:24px;
    line-height: 24px;
}
.trawled .search-box .model{
    display:block;
    float:left;
    margin-right: 20px;
    font-size: 10px;
    color:#E9E9E9;
}

.entire{
    width:100%;
    height:auto;
    float:left;
    background-color: #F9F9F9;
    padding-bottom: 8px;
}
.entire .posses{
    width:1200px;
    height:auto;
}
.entire .posses .status{
    padding-left: 6px;
    height:50px;
    line-height: 50px;
    text-align: left;
}
.entire .posses .status .apellation{
    padding-right: 10px;
    line-height: 50px;
    display:block;
    color:#333333;
    float:left;
}
.entire .posses .status .apellation.active{
    background-image: url(../images/right.png);
    background-size: 7px 12px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 17px;
}
.entire .posses .dimension{
    width:100%;
    height:auto;
    float:left;
}
.entire .posses .dimension .left{
    width:220px;
    height:auto;
    float:left;
    background-color: #ffffff;
}
.entire .posses .dimension .left .sidebar{
    width:220px;
    height:auto;
    background-color: #ffffff;
    text-align: left;
    float:left;
}
.entire .posses .dimension .left .sidebar .part {
    padding-left: 18px;
    line-height: 40px;
    font-size: 16px;
    color:#333333;
    display:block;
}
.entire .posses .dimension .left .sidebar .restrain{
    width:100%;
    height:40px;
    line-height: 40px;
    overflow:hidden;
}
.entire .posses .dimension .left .sidebar .restrain.active{
    height:auto;
}
.entire .posses .dimension .left .sidebar .fame{
    padding:0px 10px 0px 18px;
    height:39px;
    line-height: 40px;
    color:#333333;
    border-bottom:1px solid #EDEDED;
    display:block;
}
.entire .posses .dimension .left .sidebar .restrain .fame.select{
    background-image: url(../images/arrow.png);
    background-size: 12px 6px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.entire .posses .dimension .left .sidebar .restrain.active .fame.select{
    background-image: url(../images/arrow1.png);
}
.entire .posses .dimension .left .sidebar .fame:hover{
    color:#FFB86E;
}
.entire .posses .dimension .left .sidebar .restrain.active .fame{
    background-color:#FFB86E;
    color:#ffffff;
}
.entire .posses .dimension .left .sidebar .range{
    width:218px;
    padding:5px 0;
    height:auto;
    border:1px solid #EDEDED;
    border-top:0;
    background-color: #ffffff;
}
.entire .posses .dimension .left .sidebar .range .classes{
    padding-left: 18px;
    height:38px;
    line-height: 38px;
    display:block;
}
.entire .posses .dimension .left .sidebar .range .classes:hover
{
    color:#F27C00;
}
.entire .posses .dimension .left .sidebar .range .classes.active{
    color:#F27C00;
}
.entire .posses .dimension .right{
    width:968px;
    height:auto;
    float:right;
}
.entire .posses .dimension .right .groom{
    padding-left: 10px;
    width:958px;
    height:30px;
    line-height: 28px;
    font-size: 18px;
    color:#666666;
    text-align: left;
    float:left;
}
.entire .posses .dimension .right .particulars{
    width:100%;
    height:auto;
    float:left;
    text-align: left;
}
.entire .posses .dimension .right .particulars .indication{
    width:100%;
    height:auto;
    float:left;
    background-color: #ffffff;
}
.entire .posses .dimension .right .particulars .suggest{
    padding:0px 45px 0px 28px;
    height:60px;
    font-size: 16px;
}
.entire .posses .dimension .right .particulars .suggest .odd-number{
    height:60px;
    line-height: 60px;
    float:left;
    color:#666666;
}
.entire .posses .dimension .right .particulars .suggest .state{
    height:60px;
    line-height: 60px;
    color:#F27C00;
    float:right;
}
.entire .posses .dimension .right .particulars .epitome{
    margin:0px 10px;
    height:48px;
    line-height: 48px;
    background-color: #F9F9F9;
    font-size: 16px;
    color:#333333;
}
.entire .posses .dimension .right .particulars .epitome .definition{
    padding-left: 38px;
    width:240px;
    height:48px;
    line-height: 48px;
    float:left;
}
.entire .posses .dimension .right .particulars .epitome .depict{
    width:498px;
    height:48px;
    float:left;
}
.entire .posses .dimension .right .particulars .epitome .hour{
    width:162px;
    height:48px;
    float:left;
}
.entire .posses .dimension .right .particulars .subreport{
    width:100%;
    height:152px;
}
.entire .posses .dimension .right .particulars .subreport .pattern{
    width:260px;
    padding-left: 26px;
    height:152px;
    float:left;
}
.entire .posses .dimension .right .particulars .subreport .pattern .perform{
    padding:12px 0px 7px 6px;
    height:100px;
}
.entire .posses .dimension .right .particulars .subreport .pattern .perform .graphic{
    width:100px;
    height:100px;
    float:left;
}
.entire .posses .dimension .right .particulars .subreport .pattern .perform .graphic img{
    width:100%;
    height:100%;
}
.entire .posses .dimension .right .particulars .subreport .pattern .perform .trade{
    width:100%;
    height:16px;
    line-height: 16px;
    color:#666666;
}
.entire .posses .dimension .right .particulars .subreport .describe{
    width:418px;
    padding:35px 80px 0px 0px;
    height:117px;
    float:left;
}
.entire .posses .dimension .right .particulars .subreport .describe .comprise{
    width:100%;
    height:auto;
    float:left;
    margin-bottom: 14px;
    font-size: 12px;
}
.entire .posses .dimension .right .particulars .subreport .describe .comprise .subtitle{
    width:58px;
    line-height: 16px;
    float:left;
    color:#999999;
}
.entire .posses .dimension .right .particulars .subreport .describe .comprise .point{
    margin-left:58px;
    line-height: 16px;
    color:#666666;
}
.entire .posses .dimension .right .particulars .subreport .time{
    width:175px;
    padding-top: 62px;
    color:#666666;
    float:left;
}
.entire .posses .dimension .right .particulars .truth{
    width:940px;
    padding: 24px 0px 10px 28px;
    height:auto;
    float:left;
    border-top: 1px solid #f1f1f1;
    background-color: #ffffff;
}
.entire .posses .dimension .right .particulars .truth .dealers{
    width:100%;
    height:auto;
    float:left;
}
.entire .posses .dimension .right .particulars .truth .dealers .summed{
    width:107px;
    height:auto;
    float:left;
    color:#666666;
}
.entire .posses .dimension .right .particulars .truth .dealers .defender{
    margin-left: 107px;
    height:auto;
}
.entire .posses .dimension .right .particulars .truth .dealers .defender .datum{
    width:100%;
    height:18px;
    margin-bottom: 15px;
}
.entire .posses .dimension .right .particulars .truth .dealers .defender .datum .term{
    height:18px;
    line-height: 18px;
    font-size: 16px;
    color:#333333;
    float:left;
}
.entire .posses .dimension .right .particulars .truth .dealers .defender .datum .grade{
    font-size: 12px;
    line-height: 18px;
    color:#FEA547;
    float:left;
    margin:0px 28px 0px 16px;
}
.entire .posses .dimension .right .particulars .truth .dealers .defender .score{
    height:14px;
    line-height: 14px;
    margin:1px 0px;
    border-right:1px solid #FEB349;
    padding-right:9px;
    float:left;
}
.entire .posses .dimension .right .particulars .truth .dealers .defender .deal{
    height:14px;
    margin:1px 0px;
    line-height: 14px;
    padding-left: 9px;
    float:left;
}
.entire .posses .dimension .right .particulars .truth .address{
    width:100%;
    height:16px;
    line-height: 16px;
    color:#333333;
    margin-bottom: 15px;
}
.entire .posses .dimension .right .particulars .truth .address .addr{
    float:left;
    height:16px;
    margin-right:19px;
}
.entire .posses .dimension .right .particulars .truth .address .range{
    float:left;
    height:16px;
}
.entire .posses .dimension .right .particulars .truth .address .range span{
    background-image: url(../images/away1.png);
    background-repeat: no-repeat;
    background-size: 12px 16px;
    background-position: left center;
    display:inline-block;
    padding-left: 19px;
    color:#73A7FF;
}
.entire .posses .dimension .right .particulars .truth .tel{
    width:100%;
    height:14px;
    line-height: 14px;
    color:#333333;
    margin-bottom: 26px;
}
.entire .posses .dimension .right .particulars .truth .match{
    width:100%;
    height:16px;
    line-height: 16px;
    margin-bottom: 26px;
    float:left;
}
.entire .posses .dimension .right .particulars .truth .match .outlines{
    width:110px;
    height:16px;
    float:left;
    color:#666666;
}
.entire .posses .dimension .right .particulars .truth .match .money{
    height:16px;
    float:left;
    color:#F27C00;
}
.entire .posses .dimension .right .particulars .truth .match .rise{
    font-size: 16px;
    color:#333333;
}

.entire .posses .right .offer-list{
    width:100%;
    /*height:586px;*/
    background-color: #ffffff;
    margin-top:8px;
    float:left;
    padding-bottom:120px;
}
.entire .posses .right .offer-list .reveal{
    margin:0px 10px;
    height:45px;
    line-height: 52px;
    border-bottom: 1px solid #F1F1F1;
    color:#666666;
}
.entire .posses .right .offer-list .reveal .summary{
    height:45px;
    float:left;
    font-size: 18px;
}
.entire .posses .right .offer-list .reveal .prompt{
    float:right;
    margin-right:42px;
    height:45px;
    line-height: 54px;
}
.entire .posses .right .offer-list .further{
    width:100%;
    height:auto;
    float:left;
}
.entire .posses .right .offer-list .further .subtitle{
    width:910px;
    margin:0px 10px;
    padding-left: 38px;
    height:48px;
    line-height: 48px;
    font-size: 16px;
    color:#333333;
    text-align: left;
    background-color: #F9F9F9;
}
.entire .posses .right .offer-list .further .subtitle .message{
    width:295px;
    height:48px;
    float:left;
}
.entire .posses .right .offer-list .further .subtitle .price{
    width:178px;
    height:48px;
    float:left;
}
.entire .posses .right .offer-list .further .subtitle .mode{
    width:230px;
    height:48px;
    float:left;
}
.entire .posses .right .offer-list .further .subtitle .handle{
    width:198px;
    height:48px;
    float:left
}
.entire .posses .right .offer-list .further .subset{
    width:950px;
    padding:0px 8px;
    height:auto;
    float:left;
}
.entire .posses .right .offer-list .further .subset .policy{
    width:100%;
    height:90px;
    border-bottom: 1px solid #F1F1F1;
    text-align: left;
}
.entire .posses .right .offer-list .further .subset .policy .information{
    padding: 25px 0px 0px 38px;
    width:295px;
    height:65px;
    float:left;
    position:relative;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit{
    width:100%;
    height:17px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .articles{
    height:17px;
    line-height: 17px;
    float:left;
    font-size: 16px;
    color:#333333;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate{
    height:12px;
    padding-top: 5px;
    line-height: 12px;
    float:left;
    font-size: 12px;
    color:#FEA547;
    margin-left: 6px;
    position:relative;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .tips-out-border{
    width: 0px;
    height: 0px;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .tips-out-border .tips-out-bg{
    width: 0px;
    position: absolute;
    border-width: 8px 8px 8px 8px;
    border-color: #EAEAEA;
    border-color: transparent transparent #EAEAEA transparent;
    border-style: dashed dashed solid dashed;
    line-height: 0;
    top: -16px;
    left: 114px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .tips-out-border .tips-out{
    width: 0;
    position: absolute;
    border-width: 6px 6px 6px 6px;
    border-color: #ffffff;
    border-color: transparent transparent #ffffff transparent;
    border-style: dashed dashed solid dashed;
    line-height: 0;
    top: -12px;
    left: 116px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .expand{
    width:148px;
    height:110px;
    padding:8px 0px 0px 10px;
    border:1px solid #f1f1f1;
    position:absolute;
    right:0px;
    background-color: #ffffff;
    z-index:20;
    box-shadow: 0px 2px 2px #f1f1f1;
    margin-top: 6px;
    display:none;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .expand .contain{
    width:100%;
    height:auto;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .expand .contain .name{
    width:100%;
    height:16px;
    line-height: 16px;
    color:#666666;
    font-size: 14px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .expand .contain .patent{
    width:100%;
    line-height: 12px;
    margin:7px 0px 8px 0px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .expand .contain .seize{
    width:12px;
    height:2px;
    background-color: #FEB349;
    float:left;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .probate .expand .contain .asses{
    width:100%;
    line-height: 14px;
    color:#666666;
    margin-bottom:10px;
    font-size: 14px;
}
.entire .posses .right .offer-list .further .subset .policy .information .consign{
    width:49px;
    height:32px;
    background-image: url(../images/js.png);
    background-size: 49px 32px;
    background-repeat: no-repeat;
    position:absolute;
    top:0px;
    margin-left: -38px;
}
.entire .posses .right .offer-list .further .subset .policy .information .explicit .deploy{
    width:17px;
    height:17px;
    background-image: url(../images/xq.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    float:left;
    margin-left: 8px;
}
.entire .posses .right .offer-list .further .subset .policy .information .distance {
    width: 100%;
    height: 16px;
    margin-top: 10px;
}
.entire .posses .right .offer-list .further .subset .policy .information .distance span{
    background-image: url(../images/away.png);
    background-size: 12px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #666666;
    padding-left: 20px;
    line-height: 16px;
    display: inline-block;
}
.entire .posses .right .offer-list .further .subset .policy .price{
    width:178px;
    height:90px;
    line-height: 90px;
    font-size: 18px;
    color:#FF4C4C;
    float:left;
}
.entire .posses .right .offer-list .further .subset .policy .group{
    width:230px;
    height:90px;
    line-height: 90px;
    float:left;
    font-size: 16px;
    color:#666666;
}
.entire .posses .right .offer-list .further .subset .policy .press{
    width:198px;
    padding-top: 26px;
    height:64px;
    float:left;
}
.entire .posses .right .offer-list .further .subset .policy .press .embody{
    width:100%;
    height:30px;
}
.entire .posses .right .offer-list .further .subset .policy .press .embody .fastener{
    width:84px;
    height:28px;
    line-height: 28px;
    border:1px solid #D6D6D6;
    border-radius: 5px;
    display:block;
    float:left;
    font-size: 16px;
    color:#666666;
    text-align: center;
}
.entire .posses .right .offer-list .further .subset .policy .press .tips{
    width:100%;
    height:12px;
    line-height: 12px;
    margin-top: 7px;
    font-size: 12px;
    color:#999999;
}
