.entire{
    width:100%;
    height:auto;
    float:left;
    background-color: #F9F9F9;
    border-top:1px solid #DFDFDF;
    padding:8px 0px;
}
.entire .content{
    width:1200px;
    height:auto;
}
.entire .substance{
    padding:0px 36px;
    width:1128px;
    height:470px;
    background-color: #ffffff;
    overflow:hidden;
}
.entire .substance .digressed{
    width:100%;
    height:31px;
    padding:35px 0px 14px 0px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 32px;
}
.entire .substance .digressed .theme{
    height:31px;
    line-height: 31px;
    font-size: 18px;
    color:#666666;
    background-image: url(../images/found.png);
    background-size: 30px 31px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 44px;
    float:left;
}
.entire .substance .digressed .measure{
    margin:5px 36px 5px 0px;
    width:auto;
    height:20px;
    float:right;
}
.entire .substance .digressed .measure .step{
    width:100%;
    height:20px;
}
.entire .substance .digressed .measure .step .circle{
    width:18px;
    height:18px;
    line-height: 18px;
    font-size: 12px;
    color:#999999;
    border:1px solid #999999;
    border-radius: 50%;
    float:left;
}
.entire .substance .digressed .measure .step .mouthful{
    width:auto;
    height:20px;
    line-height: 20px;
    color:#666666;
    margin-left: 6px;
    float:left;
}
.entire .substance .digressed .measure .step .circle.active{
    border:1px solid #FAA246;
    color:#FAA246;
}
.entire .substance .digressed .measure .step .line{
    width:118px;
    height:0px;
    border-bottom: 1px dashed #999999;
    float:left;
    margin:9.5px 5px;
}
.entire .substance .digressed .measure .step .line.active{
    border-bottom: 1px dashed #FAA246;
}
.entire .substance .layer{
    width:100%;
    height:359px;
    float:left;
}
.entire .substance .layer .tips{
    width: 100%;
    height: 30px;
}
.entire .substance .layer .tips #error_msg{
    width:auto;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color: #F27C00;
    text-align: left;
    float:left;
    margin-left: 160px;
}
.entire .substance .layer .approach{
    width:400px;
    height:474px;
    float:left;
}
.entire .substance .layer .approach .identity{
    width:100%;
    height:auto;
    float:left;
}
.entire .substance .layer .approach .identity .group{
    width:100%;
    height:auto;
    margin-top: 26px;
    float:left;
}
.entire .substance .layer .approach .identity .group.first{
    margin-top: 0px;
}
.entire .substance .layer .approach .identity .group .primary{
    width:143px;
    height:40px;
    line-height: 40px;
    color:#666666;
    float:left;
    text-align: right;
}
.entire .substance .layer .approach .identity .group .pardon{
    padding:0px 0px 0px 14px;
    margin:0px 0px 0px 17px;
    width:224px;
    height:38px;
    line-height: 38px;
    border:1px solid #DDDDDD;
    font-family: 'Microsoft YaHei';
    color:#999999;
    outline:none;
    float:left;
}
.entire .substance .layer .approach .identity .group .pardon:focus{
    color:#666666;
}
.entire .substance .layer .approach .identity .group .pardon.last{
    margin:0px 0px 8px 0px;
}
.entire .substance .layer .approach .identity .group .coming{
    padding:0px 0px 0px 14px;
    margin:0px 0px 0px 17px;
    width:150px;
    height:38px;
    line-height: 38px;
    border:1px solid #DDDDDD;
    border-right:0px;
    font-family: 'Microsoft YaHei';
    color:#999999;
    outline:none;
    float:left;
}
.entire .substance .layer .approach .identity .group .coming:focus{
    color:#666666;
}
.entire .substance .layer .approach .identity .group .getCode{
    width:75px;
    height:40px;
    line-height: 40px;
    font-size: 12px;
    color:#ffffff;
    float:left;
    outline:none;
    cursor:pointer;
}
.entire .substance .layer .approach .identity .group .getCode.active{
    background-color: #FEA549;
}
.entire .substance .layer .approach .identity .group .shapes{
    width:68px;
    height:24px;
    position:absolute;
    right:19px;
    top:8px;
}
.entire .substance .layer .approach .identity .group .shapes img{
    width:100%;
    height:100%;
}
.entire .substance .layer .approach .identity .group .brief{
    margin-left: 160px;
    height:auto;
    position:relative;
    text-align: left;
}
.entire .substance .layer .approach .identity .group .brief .hint{
    width:100%;
    height:auto;
    float:left;
}
.entire .substance .layer .approach .identity .group .brief .hint span{
    font-size: 12px;
    color:#666666;
    line-height: 18px;
}
.entire .substance .layer .approach .identity .group .brief .hint span.word{
    font-size: 14px;
    color:#6BA1FF;
}
.entire .substance .layer .approach .identity .confirm{
    width:100%;
    height:40px;
    margin-top: 36px;
    float:left;
}
.entire .substance .layer .approach .identity .confirm .affirm{
    width:156px;
    height:40px;
    line-height: 40px;
    background-color: #FEA549;
    color:#ffffff;
    text-align: center;
    border-radius: 30px;
    display:block;
    float:right;
    margin-right: 94px;
}
.entire .substance .layer .approach .change{
    width:100%;
    height:auto;
    float:left;
    display:none;
}

.entire .substance .layer .approach .change .group{
    width:100%;
    height:auto;
    margin-top: 26px;
    float:left;
}
.entire .substance .layer .approach .change .group.first{
    margin-top: 0px;
}
.entire .substance .layer .approach .change .group .primary{
    width:143px;
    height:40px;
    line-height: 40px;
    color:#666666;
    float:left;
    text-align: right;
}
.entire .substance .layer .approach .change .group .pardon{
    padding:0px 0px 0px 14px;
    margin:0px 0px 0px 17px;
    width:224px;
    height:38px;
    line-height: 38px;
    border:1px solid #DDDDDD;
    font-family: 'Microsoft YaHei';
    color:#999999;
    outline:none;
    float:left;
}
.entire .substance .layer .approach .change .group .pardon:focus{
    color:#666666;
}
.entire .substance .layer .approach .change .group .pardon.last{
    margin:0px 0px 10px 0px;
}
.entire .substance .layer .approach .change .group .brief{
    margin-left: 160px;
    height:auto;
    position:relative;
    text-align: left;
}
.entire .substance .layer .approach .change .group .brief .hint{
    font-size: 12px;
    color:#5D9AFF;
    width:275px;
    height:18px;
    float:left;
    line-height: 18px;
}
.entire .substance .layer .approach .change .confirm{
    width:100%;
    height:40px;
    margin-top: 36px;
    float:left;
}
.entire .substance .layer .approach .change .confirm .affirm{
    width:156px;
    height:40px;
    line-height: 40px;
    background-color: #FEA549;
    color:#ffffff;
    text-align: center;
    border-radius: 30px;
    display:block;
    float:right;
    margin-right: 94px;
}
.entire .substance .layer .approach .fulfil{
    width:100%;
    height:auto;
    float:left;
    display:none;
}
.entire .substance .layer .approach .fulfil .prompt{
    width:100%;
    height:40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 58px;
}
.entire .substance .layer .approach .fulfil .prompt .tips{
    background-image: url(../images/done.png);
    background-size: 40px 40px;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 16px;
    color:#666666;
    padding-left: 50px;
    height:40px;
    float:left;
    margin-left: 158px;
}
.entire .substance .layer .approach .fulfil .fastener{
    width:100%;
    height:40px;
}
.entire .substance .layer .approach .fulfil .fastener .login-btn{
    width:160px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #FEA549;
    color:#ffffff;
    margin-left: 158px;
    float:left;
    display:block;
}
#b_mobile.active ,#b_code.active{
    border:1px solid #F27C00;
}
#b_check.active{
    border:1px solid #F27C00;
    border-right:0px;
}
